@model IEnumerable<Veb_portal_za_aukcijsku_prodaju.Models.Aukcija>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proizvod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trajanje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PocetnaCena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VremeKreiranja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VremeOtvaranja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VremeZatvaranja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrenutnaCena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bid.BidID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proizvod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trajanje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PocetnaCena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VremeKreiranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VremeOtvaranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VremeZatvaranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrenutnaCena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bid.BidID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AukcijaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AukcijaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AukcijaID })
        </td>
    </tr>
}

</table>
